
%section
	/ SECOND BLOCK
	#contact1-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%article.s-3.l-2.font-comforta
							%img.organizer1{:src => "/assets/jakubko.png"}

						%article.s-9.l-6.font-comforta
							.about
								%h2 Jakub JurÄ
								%h4 
									= t('contact')
								%ul
									%li 
										Mobil:
										+421 902 322 133
									%li 
										Mail:
										meniscusjlf@gmail.com
									%li
										= t('room')
										608

	#contact2-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
						%article.s-3.l-2.font-comforta
							%img.organizer2{:src => "/assets/haiko.png"}

						%article.s-9.l-6.font-comforta
							.about
								%h2 Heiko Pedan
								%h4
									= t('contact')
								%ul
									%li 
										Mobil:
										-
									%li 
										Mail:
										meniscusjlf@gmail.com
									%li
										= t('room')
										-