.container.history
	.row
		.col-xs-18.col-sm-12
			%p.title Historia hokejbalu na JLF UK
			.text
	.row
		.col-xs-12.col-sm-8
			.text-first
				%p Celé sa to začalo niekedy na jeseň roku 1992, v období, ktoré sa tak ako celý začiatok 90. rokov na JLF UK nieslo v znamení bujarého spoločenského života a o to skromnejších športových aktívít.
				%p Významný zvrat v tomto trende priniesli študenti, ktorí k nám prestúpili z LF Hradec Kralové a boli v minulosti aktívni hokejisti.
		.col-xs-6.col-sm-4
			#fade.first
				%img.woman-team{:src => "/assets/history/woman-team.jpg"}
				%img.team4{:src => "/assets/history/team4.jpg"}
				%img.men{:src => "/assets/history/men.jpg"}

	.row
		.col-xs-6.col-sm-4
			#fade.second
				%img.cup-small{:src => "/assets/history/cup-small.jpg"}
				%img.match{:src => "/assets/history/match.jpg"}
				%img.cup2{:src => "/assets/history/cup2.jpg"}

		.col-xs-12.col-sm-8
			.text-second
				%p Vyzvali slovenských študentov, či by si nešli zahrať. Bolo ich asi 10. Po tejto skúsenosti skrsla myšlienka zahrať si hokejbalový turnaj.
				%p 19.3 1993 sa konal I. hokejbalový turnaj O putovný fonendoskop JLF UK Martin. Hlavnou cenou pre víťaza bol každoročne „putovný martinský fonendoskop“, ktorý bol zhotovený z červených gumených hadičiek, slúchadiel a lievika. Na fonendoskop sa každoročne pripísal názov víťazného klubu a iniciálky hráčov.
	.row
		.col-xs-9.col-sm-6
			.text-third
				%p Na prvom ročníku hralo 6 tímov, každým rokom pribúdali nové a nové.
				%p V roku 1997 sa uskutočnil na pôde JLF UK prvý ročník Martinského Fonendoskopu.
				%p V roku 2013 sa na XVII. Martinskom Fonendoskope zúčastnilo 28 tímov z toho 20 mužských a 8 ženských, ktorí prichádzajú nie len zo Slovenska ale taktiež aj z Českej republiky.
		.col-xs-9.col-sm-6
			#fade.third
				%img.team2{:src => "/assets/history/team2.jpg"}
				%img.cup{:src => "/assets/history/cup.jpg"}
				%img.team3{:src => "/assets/history/team3.jpg"}

	.row
		.col-xs-6.col-sm-4
			#fade.forth
				%img.team{:src => "/assets/history/team.jpg"}
				%img.gipsy{:src => "/assets/history/gipsy.jpg"}
				%img.gipsy{:src => "/assets/history/woman-team-2.jpg"}
		.col-xs-12.col-sm-8
			.text-forth
				%p K samotnému turnuja patrí aj sprievodná akcia, koncerty, ktoré sa uskutočňujú na Študentskom domove JLF UK
				%p Minulý rok sa o zábavu postarali DJ Syky, Labužníci, IntrakBand a prekvapenie sobotňajšieho večera Gipsy čave.
