#third-block.font-comforta
	.line
		%h2 Galléria 2013
		.margin
			.s-12.l-3
				= image_tag "img/330x190.jpg"
			.s-12.l-3
				= image_tag "img/330x190-2.jpg"
			.s-12.l-3
				= image_tag "img/330x190-3.jpg"
			.s-12.l-3
				= image_tag "img/330x190.jpg"
