
%section
	#schedule1-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta


	#schedule2-block
		.line
			.margin-bottom
				.margin
					%article.s-12.l-8.center.font-comforta
							