/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */


@font-face {
    font-family: comforta;
  src: url('Comfortaa-Regular.ttf');
}

.font-comforta {
  font-family: comforta !important;
}

body {
  background: white !important;
}

.main_photo {

}

#first-block {
  background: url('grass-texture.jpg');
}

img.logo {
  padding-top: 10px;
}

.countdown.styled div{
  display: inline-block;
  font-size: 16px;
}

.info {
  font-size: 20px;
}

a.flag {
	padding: 10px 0px 0px 0px !important;
	&:hover {
		background: black !important;
	}
}

.about {
  padding-top: 40px;
  padding-left:20px;
}

.teams span.count-number {
  display: none;
}

.space {
  height: 20px;
} 